.product .follow-up {
    display: flex;
    flex-direction: column;
    max-width: 320px;
}

.product .follow-up .button-follow-up {
    margin-bottom: 10px;
    text-align: center;
}

.product .follow-up form {
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

.product .follow-up form.show {
    display: flex;
}

.product .follow-up form input#email {
    width: 75%;
}

.single-product div.product .summary {
    width: 100% !important;
}